<div class="hero-home d-flex align-items-center justify-content-center">
  <div class="content">
    <h2>Welcome to Event-web</h2>
    <p>
      A comprehensive and all-encompassing solution tailored <br />
      for your seamless event management needs.
    </p>

    <div class="btn-group">
      <a mat-raised-button routerLink="/login">Login</a>
      <a mat-raised-button routerLink="/register" color="primary">Signup</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="services">
    <h1 class="mb-5">Our Services</h1>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Events</h5>
            <p class="card-text">
              Effortlessly plan and execute memorable events with our
              comprehensive event management services. From meticulous planning
              to flawless execution, we ensure every detail is tailored to
              perfection. Elevate your events with our expertise.
            </p>
            <a href="#" mat-raised-button color="primary" class="w-100"
              >Register as Event Organizer</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Volunteers</h5>
            <p class="card-text">
              Volunteers form the backbone of successful events, contributing
              their time, skills, and passion to bring a collective vision to
              life. Their dedication ensures seamless execution, fostering a
              sense of community and shared accomplishment.
            </p>
            <a href="#" mat-raised-button color="primary" class="w-100"
              >Register as Volunteer</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highlights container-flex">
  <h1>Highlights</h1>
  <div class="container py-2 mb-3">
    <div class="row mb-5">
      <div class="col-md-6 my-auto">
        <h2 class="highlight-title">Sports Events</h2>
        <p class="highlight-text">
          Sports events electrify the spirit of competition, uniting enthusiasts
          in a celebration of athleticism and team spirit. Whether it's the roar
          of the crowd, the thrilling moments of victory, or the display of
          extraordinary skills, sports events create lasting memories. From
          local tournaments to global championships, these events inspire and
          showcase the power of human achievement through the universal language
          of sports.Football, the beautiful game, transcends borders and
          cultures.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/assets/img/football.avif"
          class="img-fluid highlight-img shadow-lg"
          alt="Football"
        />
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6">
        <img
          src="/assets/img/blood-donation.jpg"
          class="img-fluid highlight-img shadow-lg"
          alt="Blood donation"
        />
      </div>
      <div class="col-md-6 my-auto">
        <h2 class="highlight-title">Blood Donation Camp</h2>
        <p class="highlight-text">
          Blood donation camps serve as vital lifelines, fostering a culture of
          compassion and solidarity within communities. These events provide
          individuals with the opportunity to contribute to a noble cause,
          saving lives through the selfless act of donating blood. By creating
          awareness and encouraging participation, blood donation camps play a
          pivotal role in ensuring a stable and accessible blood supply for
          those in need.
        </p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-6 my-auto">
        <h2 class="highlight-title">Concert Events</h2>
        <p class="highlight-text">
          Concert events are vibrant celebrations that unite music enthusiasts
          in a shared euphoria of melodies and rhythms. From showcasing renowned
          artists to providing a platform for emerging talents, these events
          create unforgettable experiences that resonate with diverse audiences.
          The electrifying atmosphere and communal spirit make concert events a
          dynamic fusion of artistry and collective joy.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/assets/img/concert.jpg"
          class="img-fluid highlight-img shadow-lg"
          alt="Concert"
        />
      </div>
    </div>
  </div>
</div>

<div class="container mb-3">
  <div class="categories">
    <h1>Our Top categories</h1>
			<div class="row">
                <div class="col-md-3">
                    <div class="card my-auto" style="width: 18rem;">
                        <img src="/assets/img/catering.png" class="img-fluid w-50 h-50 mx-auto mt-4" alt="">
                        <div class="card-body text-center">
                          <h4>Catering</h4>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card my-auto" style="width: 18rem;">
                        <img src="/assets/img/manager.png" class="img-fluid w-50 h-50 mx-auto mt-4" alt="">
                        <div class="card-body text-center">
                          <h4>Managment</h4>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card my-auto" style="width: 18rem;">
                        <img src="/assets/img/coach.png" class="img-fluid w-50 h-50 mx-auto mt-4" alt="">
                        <div class="card-body text-center">
                          <h4>Sports</h4>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card my-auto" style="width: 18rem;">
                        <img src="/assets/img/planner.png" class="img-fluid w-50 h-50 mx-auto mt-4" alt="">
                        <div class="card-body text-center">
                          <h4>Decorator</h4>
                        </div>
                      </div>
                </div>
            </div>
  </div>
</div>
<app-footer></app-footer>